<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arpadfodor.android.paw_scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_about" />

        <activity
            android:name=".views.FactActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_fact" />

        <activity
            android:name=".views.TipsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_tips" />

        <activity
            android:name=".views.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_settings"
            android:theme="@style/PreferenceScreen"/>

        <activity
            android:name=".views.RecognitionActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.BreedActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".viewmodels.services.InferenceService" />
        <service android:name=".viewmodels.services.LiveInferenceService" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ad_id" />

    </application>

</manifest>